
/**
Job Tags editor
 */
.tags-list.input-group-addon {
    padding-right: 0 !important;
}

.tags-list .label {
    position: relative;
    top: 2px;
}



.tags-list-follows-focus{
    background-color: #fafaff;
}

